<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PassDataWithDelegate.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3B8EE78B1EB0245B00F4A925</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3B8EE79F1EB0245B00F4A925</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3B8EE7AA1EB0245B00F4A925</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
